<h1> Welcome to GreenWave Volunteers</h1>

<% @projects_list.each do |project| %>
  <h3><a href='/project/<%=project.id%>/update'><%= project.title %></h3></a>
<% end %>


<form action="/" method= "post">
  <div class = "form-group">
    <label class="form-label" for= "project_input"> Please add a new Project! </label>
    <input class= "form-control" name="title" id="title" type= "text">
    <button type= "submit" class= "btn btn-success">Create Project</button>
  </div>
</form>
