
<form action="/project/<%=@volunteer_edit.id()%>"  method="post">
  <div class= "form-group">
    <input name="_method" type = "hidden" value = "patch">

    <label for="Volunteer_update"> Update Volunteer: </label>
    <input id="update_volunteer" class="form-control" name="name" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Update Volunteer</button>
</form>

<form action="/project/<%=@volunteer_edit.id()%>"  method="post">
  <div class= "form-group">
    <input name="_method" type = "hidden" value = "delete">
  </div>
  <button type="submit" class="btn btn-danger">Delete Volunteer</button>
</form>
